{% extends 'base.html.twig' %}

{% block header %}
    <div class="demo-blog--blogpost">
        <div class="demo-back">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{{ path('main') }}"
               title="go back" role="button">
                <i class="material-icons" role="presentation">arrow_back</i>
            </a>
        </div>
    </div>
{% endblock %}